:root {
  --margin: 0 0 15% 20%;
  --ff: "Roboto", sans-serif;
  --: ;
}

html {
  block-size: 100%;
  inline-size: 100%;
}
svg {
  color: black;
}
body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  place-content: center;
  font-family: var(--ff);
  padding: 0;
  margin: 0;
}
.container {
  margin: 2% 15% 0 15%;
}
.visually-hidden {
  display: none;
}
header {
  background-color: #eeeeee;
  width: 100%;
  min-height: 80%;
}
.nav {
  margin: 0 15% 0 15%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;

  font-family: var(--ff);
  font-weight: 600;
  /* font-size: ; */
  text-decoration: none;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav a {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
  color: rgb(0, 0, 0);
  user-select: none;
}
.nav a:hover {
  text-decoration: none;
  color: #283136;
}
.btn-order {
  font-family: var(--ff);
  font-weight: 600;
  user-select: none;
  padding: 0;
  outline: none;
  border: none;
}
.btn-order:focus {
  color: #333333;
  outline: none;
}
.btn-order:active {
  color: #333333;
  box-shadow: none;
}
.menu-item {
  display: inline;
  margin: 10px;
}
.header-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15% 0 15%;
  background-image: url(/img/mediapng.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 80%;
}
.header-info__item {
}
.header-info__item__text {
  font-size: 3rem;
  margin: 0;
  font-weight: 600;
  max-width: 70%;

  /* regular and medium */
}
.header-info p {
  color: #333333;
}
.btn-more-info {
  background-color: #fb565a;
  border: none;
  color: #ffffff;
  margin: 2% 0 5% 0;
  padding: 2% 5% 2% 5%;
}
.card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card-item {
  flex: 1 0 33%;
}

.card-item img {
}
.btnOrder {
  font-family: var(--ff);
  font-weight: 600;
  padding: 0;
  outline: none;
  border: none;
  border: none;
  color: #ffffff;
  padding: 15px 30px 15px 30px;
  /* нужно сделать пиксели */
  background-color: #fb565a;
}
.card-item:nth-child(2) .btnOrder {
  background-color: #00ca74;
  /* ?padding or  */
}
.card-item:nth-child(3) .btnOrder {
  background-color: #efc849;
}

.main-info {
  display: flex;
}
.main-info__item {
  flex: 1 0 50%;
}
.info-about-us_card {
  display: flex;
  flex-wrap: wrap;
}
.info-about-us img {
  margin-left: 70%;
}
.main-info__text img {
  padding: 0 1% 1% 0;
}
.main-info__text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info-about-us_item__card {
  display: flex;
  /* flex-wrap: wrap; @media*/
}
.info-about-us_item__card p {
  padding: 0;
  margin: 0;
}
.info-about-us_item__card__list {
  flex-wrap: wrap;
  margin: 2%;
}
.info-about-us_item__card__list img {
  padding: 0 0 5% 0;
}
hr {
  margin: 5% 0% 5% 0;
}
hr:nth-last-child() {
  margin: 0;
}
.footer-info {
  display: flex;
  padding-bottom: 2%;
  justify-content: space-between;
}
.footer-info li {
  display: inline;
}
.footer-info ul {

  padding: 0;
}
.footer-info p {
  font-family: var(--ff);
  font-weight: 500;
}
.footer-info a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: var(--ff);
  font-weight: bolder;
  font-size: 0.8em;
}
.hr-footer {
  margin: 2% 0 2% 0;
}
