html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  place-content: center;
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  margin: 2% 15% 0 15%;

  /* Ннужно убрать */
}
header {
  background-color: #eeeeee;
  width: 100%;
}
.nav {
  margin: 0 15% 0 15%;
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-item {
  display: inline;
}
.header-info {
  margin: 0 15% 0 15%;
  /* background-image: url(/img/social-media.png); */
  background-repeat: no-repeat;
  background-position: right;
  height: 60%;
}
.header-info__item {
  display: flex;
}
.header-info__item__text {
  font-size: 3rem;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-item {
  font-size: 0.8rem;
  text-align: center;
  flex: 1 0 33%;
}
.card-image {
  height: 55%;
}
.main-info {
  display: flex;
}
.main-info__item {
  flex: 1 0 50%;
}
.info-about-us p {
  display: inline;
}
.main-info__text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-info__text__img {
}
.info-about-us_item__list {
  display: flex;
}
.info-about-us_item__list p {
  display: flex;
}
